
@{
    ViewBag.Title = "Ingresar";
}

<h2>Ingresar</h2>

Gracias por ingresar sus datos @ViewBag.Nombre @ViewBag.Apellido de cedula de identidad @ViewBag.Cedula.<br />

Edad: @ViewBag.Edad .<br />
Telefono: @ViewBag.Telefono <br />
Email: @ViewBag.Email <br />
Sexo: @ViewBag.Sexo <br />
Estado Civil: @ViewBag.EstadoCivil <br />
Hobbies:@ViewBag.Hobbies
<br />

@Html.ActionLink("Volver al formulario", "Index")


